<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Suspendisse venenatis</h6>
      <p>Lectus aliquam quis urna vel quam sagittis vestibulum.</p>
    </div>
    <ul class="nospace group">
      <li class="one_third first">
        <article><i class="btmspace-30 fa fa-3x fa-laptop"></i>
          <h6 class="heading font-x1">Integer sodales odio</h6>
          <p class="btmspace-30">Mattis erat pede at magna maecenas ut eros vel tortor viverra auctor phasellus ligula lobortis vivamus ultricies [&hellip;]</p>
          <footer><a class="btn" href="#">Read More &rsaquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="btmspace-30 fa fa-3x fa-lastfm"></i>
          <h6 class="heading font-x1">Ultrices feugiat ligula</h6>
          <p class="btmspace-30">Massa eget sapienfusce ornare suscipit massa duis sed magnacras condimentum tempor tortor integer id urna [&hellip;]</p>
          <footer><a class="btn" href="#">Read More &rsaquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="btmspace-30 fa fa-3x fa-codiepie"></i>
          <h6 class="heading font-x1">Augue tempor orci</h6>
          <p class="btmspace-30">Eros mauris cursus quam consectetuer tincidunt est mi bibendum risus nec rutrum mi justo sit amet mi suspendisse [&hellip;]</p>
          <footer><a class="btn" href="#">Read More &rsaquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>