
<div class="wrapper bgded overlay" style="background-image:url('/content/dam/spavue/banner_lake.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <p>Praesent justo at sem</p>
            <h3 class="heading">Aliquam adipiscing faucibus</h3>
            <p>Lacus urna consectetuer nisi donec lorem metus lobortis eu lacinia nec dignissim sed pede aliquam eget ligula nulla bibendum  nullam lacinia purus eget posuere tristique sapien neque blandit nisl.</p>
            <footer><a class="btn" href="#">Nulla tortor sed</a></footer>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>