
<div class="wrapper bgded overlay" style="background-image:url('/content/dam/spavue/HeaderBanner3.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <p>Vue.js at aem</p>
            <h3 class="heading">The Progressive JavaScript Framework</h3>
            <p>Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable.</p>
            <footer><a class="btn" href="#">AEM SPA</a></footer>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>